{% capture question %}{{ question | plus: 1 }}{% endcapture %}
<fieldset>
  <div class="row">
    <div class="question col-xs-12"><h3>{{ include.title }}</h3></div>
  </div>
  <div class="answers">
    <div class="answer clearfix">
      <div class="answer-checkbox">
        {% capture offset %}{{ offset | plus: 1 }}{% endcapture %}
        <input type="radio" id="{{ offset }}" name="{{ question }}" value="1">
      </div>
      <div class="answer-label">
        <label for="{{ offset }}" class="">{{ include.option1 }}</label>
      </div>
    </div>
    <div class="answer clearfix">
      <div class="answer-checkbox">
        {% capture offset %}{{ offset | plus: 1 }}{% endcapture %}
        <input type="radio" id="{{ offset }}" name="{{ question }}" value="2">
      </div>
      <div class="answer-label">
        <label for="{{ offset }}" class="">{{ include.option2 }}</label>
      </div>
    </div>
    <div class="answer clearfix">
      <div class="answer-checkbox">
        {% capture offset %}{{ offset | plus: 1 }}{% endcapture %}
        <input type="radio" id="{{ offset }}" name="{{ question }}" value="3">
      </div>
      <div class="answer-label">
        <label for="{{ offset }}" class="">{{ include.option3 }}</label>
      </div>
    </div>
  </div>
  {% if include.next %}<input type="button" name="{{ include.next }}" class="next action-button" value="{{ include.next }}">{% endif %}
  {% if include.previous %}<input type="button" name="{{ include.previous }}" class="previous action-button" value="{{ include.previous }}">{% endif %}
</fieldset>