<nav class="navbar navbar-default navbar-fixed-top" style="visibility:hidden">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" class="scroll">
        <img src="{{ "/assets/img/logo_small.png" | prepend: site.github.url }}" height="25">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav main-nav">

        {% assign pages = site.pages | sort: "order" %}
        {% for subpage in pages %}
          {% if subpage.link_title and subpage.language == page.language %}
            <li>
              <a href="#{{ subpage.anchor_id }}" class="scroll">{{ subpage.link_title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="social-media-button">
            {% include icon-twitter.html username=site.twitter_username %}
        </li>
        <li class="social-media-button">
            {% include icon-facebook.html username=site.facebook_page %}
        </li>
        <li>
          <a href="https://TODO" target="_blank" class="nav-button donate-button">donate</a>
        </li>
        {% for language in site.languages %}
          <li>
            <a href="../{{language}}" class="nav-button lang_{{language}}"><i class="icon-globe"></i>{{language}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>