<section id="landing-section">
  <a id="home" class="anchor"></a>
  <div class="container landing-container">

    <div class="row video">
      <div class="col-xs-12">
        <div class="embed-responsive embed-responsive-16by9 landing-video" id="waypoint">
          <iframe src="https://player.vimeo.com/video/42934682" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <h1>{{ include.title }}</h1>
      </div>
    </div>
  </div>
</section>