{% assign splitby = include.page.splitby | default: "</h3>" %}
{% assign questions = include.page.content | split: "<hr />" %}
<div class="row hidden-sm hidden-md hidden-lg visible-xs">
  <div class="col-xs-12">
    <div class="panel-group" id="panels-{{include.page.anchor_id}}">
      {% for question in questions %}
        {% assign question_split = question | split: splitby %}
        {% assign title = question_split | first | strip_html %}
        {% assign body =  question_split | last %}
        <div class="panel panel-default">
          <div class="panel-heading"><h4 class="panel-title"><a data-toggle="collapse" data-parent="#panels-{{include.page.anchor_id}}" href="#nc-{{include.page.anchor_id}}-{{ forloop.index }}">{{ title }}</a></h4></div>
          <div id="nc-{{include.page.anchor_id}}-{{ forloop.index }}" class="panel-collapse collapse">
            <div class="panel-body">{{ body }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="row row-items hidden-xs visible-sm visible-md visible-lg">
  {% for question in questions %}
    {% assign question_split = question | split: splitby %}
    {% assign title = question_split | first | append: splitby %}
    {% assign body =  question_split | last %}
    {% assign icon_number = include.page.order | minus: 4 | times: 6 | plus: forloop.index %}
    {% assign icon =  "icons/" | append: icon_number | append: ".svg" %}
    <div class="col-sm-4">
      {% if include.page.order < 7 %}
        {% include {{ icon }} %}
      {% endif %}
      {{ title }}
      {{ body }}
      {% if forloop.index == 3 %}
        </div>
        <div class="row row-items hidden-xs visible-sm visible-md visible-lg">
      {% endif %}
      {% comment %}
      <div id="coll-{{ forloop.index }}" class="accordion-body collapse">
        <div class="accordion-inner">{{ q | last }}</div>
      </div>
      <a data-toggle="collapse" href="#coll-{{ forloop.index }}" class="read-more"><i class="icon-arrow-combo"></i></a>
      {% endcomment %}
    </div>
  {% endfor %}
</div>
<!-- <div class="row row-items hidden-xs visible-sm visible-md visible-lg row-line"></div> -->
