{% assign questions = include.page.content | split: "<hr />" %}
<section id="{{ include.page.anchor_id }}" class="{{ include.class }}">
  <a id="{{ include.page.anchor_id }}" class="anchor"></a>
  <div class="container landing-container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ include.page.title }}</h1>
        </div>
    </div>

    <div class="row">
      {% for question in questions %}
        <div class="col-sm-6">
          {{ question }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>
