{% assign splitby = include.page.splitby | default: "</h2>" %}
{% assign questions = include.page.content | split: "<hr />" %}
<div class="container landing-container" style="text-align: center;">
  {% for question in questions %}
    <div class="row row-items">
      {% assign question_split = question | split: splitby %}
      {% assign title = question_split | first | append: splitby %}
      {% assign body =  question_split | last %}
      <div class="col-sm-12">
        {{ title }}
        {{ body }}
      </div>
    </div>
  {% endfor %}
</div>