<section id="landing-section">
  <a id="home" class="anchor"></a>
  <div class="container landing-container">

    <div class="row video">
      <div class="col-xs-12" style="text-align: center">
        <div class="embed-responsive embed-responsive-16by9 landing-video" id="waypoint">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/eGfaEeWOtf8" frameborder="0" allowfullscreen></iframe>
        </div>
        <h1>{{ include.title }}</h1>
      </div>
    </div>

    {% if include.claim != '' %}
    <div class="row">
      <div class="hidden-xs col-sm-12" style="text-align: center">
        <div class="banner_img">
            <a href="#test">
            <img src="{{ "/assets/img/banner.png" | prepend: site.github.url }}">
            <h3>{{ include.claim }}</h3>
          </a>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</section>