---
link_title: Ερωτηματολόγιο
anchor_id: test
title: μεταπηδώ?
order: 3
language: sr
section_class: yellow
section_layout: section_umfrage
permalink: /
---
{% include frage.html
    title="Όταν σκέφτομαι την οδήγηση με το αυτοκίνητο έχω:"
    option1="ένα σφίξιμο στο στομάχι"
    option2="την αίσθηση ότι όλα είναι φυσιολογικά"
    option3="κακή διάθεση"
    next="μετά"
%}

{% include frage.html
    title="Το άγχος μου όταν οδηγώ αυτοκίνητο βρίσκεται σε κλίμακα από το 1 ως το 10 στο:"
    option1="1 - 3"
    option2="4 - 7"
    option3="8 - 10"
    next="μετά"
    previous="πίσω"
%}

{% include frage.html
    title="Όταν σκέφτομαι την ποδηλασία:"
    option1="σκέφτομαι καλογυμνασμένους, αθλητικούς ποδηλάτες με καλή διάθεση"
    option2="ψάχνω δικαιολογίες για να την αποφύγω ως κάτι δυσάρεστο"
    option3="νιώθω φόβο"
    next="μετά"
    previous="πίσω"
%}

{% include frage.html
    title="ο καιρός θα δείξει!"
    option1="Δεν έχω σκεφτεί ποτέ να αντικαταστήσω το αυτοκίνητο με το ποδήλατο"
    option2="Έχω ήδη σκεφτεί οδηγώντας αυτοκίνητο, πόσο καλύτερα θα ήταν, να είχα τώρα ένα ποδήλατο"
    option3="Ονειρεύομαι συχνά να πορεύομαι προς τη δύση του ηλίου πάνω σ’ένα ποδήλατο"
    next="μετά"
    previous="πίσω"
%}

{% include antwort.html
  title1="Οι πεπεισμένοι"
  text1="Το αυτοκίνητο είναι ακόμα το μεταφορικό μέσο της επιλογής σας, απλά επειδή είναι βολικό. Για σας τα πλεονεκτήματα του ιδιόκτητου οχήματος ξεπερνούν κατά πολύ αυτά της ποδηλασίας, ωστόσο αναρωτιέστε μερικές φορές, αν αυτή η αλλαγή θα ήταν εφικτή. Πολύ ευχαρίστως να σας υποστηρίξουμε στα πρώτα βήματα – κάντε τώρα την αρχή παίρνοντας το ποδήλατο αντί για το αυτοκίνητο."
  title2="Οι σκεπτικοί"
  text2="Για σας τα πλεονεκτήματα του ποδηλάτου είναι σαφή και ξεκάθαρα, παρ’όλ’αυτά σας τρομάζουν οι επιπτώσεις που θα είχε η αλλαγή στη ζωή σας. Σας διαβεβαιώνουμε: Με το ποδήλατο μπορείτε να φτάσετε σχεδόν στο 100% των προορισμών σας μέσα στην πόλη. Διαβάστε παρακάτω για να μάθετε πώς θα το καταφέρετε."
  title3="Οι αβέβαιοι"
  text3="Πιστεύετε στο ποδήλατο ως μέσο μεταφοράς, αλλά τρομάζετε στην ιδέα να βγείτε στην κίνηση χωρίς την προστασία του αυτοκινήτου; Βρίσκεστε στο σωστό μέρος. Η αλλαγή στον τρόπο μετακίνησής σας δεν θα έρθει από τη μία μέρα στην άλλη. Αφιερώστε χρόνο και βρείτε ομοϊδεάτες στην προσπάθειά σας. Είμαστε βέβαιοι ότι η χαρά της ποδηλασίας θα είναι μεγαλύτερη από τους φόβους σας."
%}