---
link_title: Home
anchor_id: home
order: 1
---
<section class="" id="landing-section">
  <a id="home" class="anchor"></a>
  <div class="container landing-container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 col-md-3 col-md-offset-0">
        <img src="http://placehold.it/243x44" class="img-responsive landing-logo">
      </div>
      <div class="landing-nav col-xs-12 col-md-7 col-md-offset-2" id="landing-nav">
        <ul>
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
            {% include icon-facebook.html username=site.facebook_page %}
          </li>
          <li>
            <a href="#ready" class="nav-button donate-button exit-button-top scroll"><i class="icon-cw"></i>&nbsp;exit now!</a>
          </li>
          <li>
            <a href="https://www.pen.gg/support" target="_blank" class="nav-button donate-button">donate</a>
          </li>
          <!--<li>
            <a href="../de" class="nav-button"><i class="icon-globe"></i> de</a>
          </li>-->
        </ul>
      </div>
    </div>
    <div class="row video">
      <div class="col-xs-12">
        <div class="embed-responsive embed-responsive-16by9 landing-video" id="waypoint">
            <img src="http://placehold.it/1140x641" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>