---
---

{% for language in site.languages %}
.lang_{{language}} .nav-button.lang_{{language}} {
    text-decoration: none;
    background-color: #fff;
    color: #154989;
}
{% endfor %}

h1 {
  font-family: 'Source Sans Pro';
  color:  #555555;
  font-size: 4.5em;
  font-weight: 200;
  letter-spacing: 0.005em;
  line-height: 1;
  text-align: center;
}

h2 {
  font-family: 'Source Sans Pro';
  color:  #555555;
  font-size: 1.875em;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 2;
  text-align: center;
}

h3 {
  font-family: 'Source Sans Pro';
  color:  #f7a600;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.12px;
  line-height: 20px;
  text-align: center;
}

section {
    background-color: #F2F2F2;
}

section.blue {
    background-color: #154989;
    color: #FFF;
}

section.blue h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
}

section.yellow {
    background-color: #F29F04;
}

section.bright {
    background-color: #FAFAFA;
}

section.bright h3,
section.bright a {
  color: #17558C;
}
